// Download Extension Section
.download-extension-container {
    margin: 9rem auto;
    .download-extension-subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .download-subcontainer-child {
            border-radius: 1.5rem;
            margin: 2rem auto;
            padding: 2.4rem;
            box-shadow: hsl(229, 60%, 66%) 0 0 30px -22px;
            .download-button {
                width: 23.2rem;
                &:hover {
                    color: $primary-soft-blue;
                    background: white;
                    border: 2px solid $primary-soft-blue;
                    transition-duration: 0.1s;         
                }
            }
            .download-hero {
                padding-bottom: 3rem;
                .browser-heading {
                    margin-bottom: -0.5rem;
                }
            }
        }
    }
}

.logo-chrome {
    background-image: url('images/logo-chrome.svg');
    @include illustrationMain();
}

.logo-firefox {
    background-image: url('images/logo-firefox.svg');
    @include illustrationMain();
}

.logo-opera {
    background-image: url('images/logo-opera.svg');
    @include illustrationMain();
}

// .hr-download {
//     border-top: 3px dotted rgba(73, 93, 207, 0.2);
//     width: 100%;
//     padding-top: 2.4rem;
//     border-left: none;
//     border-right: none;
// }

.bg-dots {
    background-image: url('images/bg-dots.svg');
    position: relative;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    height: 3px;
    margin-bottom: 2.4rem;

}



@media (min-width: 767px) {
    .download-extension-container {
        margin: 23rem auto;
        .download-extension-subcontainer {
            flex-direction: row;
            margin-top: 4rem;
            // width: 91.1rem;
            padding: 0 9rem;
            .download-subcontainer-child {
                .download-hero {
                    // Manually decreasing the p width because I increased it for all paragraphs earlier
                    .chrome-paragraph {
                        width: 23.2rem;
                    }
                    .firefox-paragraph {
                        width: 23.2rem;
                    }
                    .opera-paragraph {
                        width: 23.2rem;
                    }
                }
            }
            .download-chrome {
                margin-bottom: 10rem;
            }
            .download-opera {
                margin-top: 10rem;
            }
        }
    }


}