  /* HEADER */
  /* Nav Styling */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .nav-ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
        list-style-type: none;
        .nav-link {
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
          // &:hover {
          //     color: $primary-soft-red;
          // }
        }
        li a {
          display: inline-block;
          color: white;
          padding: 1rem 2rem;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.231rem;
        }
      }
  }
  

  
  .hamburger {
    background-color: transparent;
    border: 0;
    color: $neutral-very-dark-blue;
    font-size: var(--main-2);
    cursor: pointer;
    display: none;
    box-shadow: none;
  }
  
  .bar {
    display: block;
    width: 1.8rem;
    height: 0.3rem;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* Don't understand why it's background-color and not just color. */
    background-color: $neutral-very-dark-blue;
    // background-color: yellow;
  }

  .hr-nav {
    border-top: 1px solid rgba(151, 151, 151, 0.2);
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;    
}

.social-media-icon-container-header {
  display: none;
  &.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.8rem;
    margin-top: 42rem;
  }
}