// Signup Form Section
.signup-form-container {
    background-color: $primary-soft-blue;
    padding: 4.3rem 3.2rem;
    position: relative;
    .signup-form-hero {
        margin: 3rem auto;
        .form-heading-smaller {
            font-size: 12px;
            text-transform: uppercase;
            color: white;
            line-height: 4rem;
            font-weight: 450;
            opacity: 1;
            letter-spacing: 0.462rem;
        }
        .signup-form-heading {
            color: white;
            font-weight: 450;
            line-height: 2.8rem;
            letter-spacing: -0.08px;
            padding: 0;
        }
    }
    form {
        height: 13.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 31.1rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
        .form-input-email {
            height: 4.8rem;
            width: 31.1rem;
            border-radius: 0.5rem;
            border: none;
            background-color: white;
            color: #242A45;
            outline: none;
            padding: 2.1rem;
        }
        ::placeholder {
            opacity: 0.3;
            line-height: 2.8rem;
            letter-spacing: 0.25px;
            font-size: 14px;
        }
        .contact-us-button {
            height: 4.8rem;
            width: 31.1rem;
            border-radius: 0.5rem;
            border: none;
            background-color: $primary-soft-red;
            color: white;
            cursor: pointer;
        }
        // #text {
        //     display: block;
        //     color: white;
        //     font-weight: 500;
        //     background-color: $primary-soft-red;
        //     border-bottom-left-radius: 0.5rem;
        //     border-bottom-right-radius: 0.5rem;
        // }
        input[type="text"] {
            font-size: var(--button-text);
            letter-spacing: 0.25px;
        }
    }
}

#form .input-box {
    position: relative;
}

#form.invalid .form-input-email {
    border: 2px solid $primary-soft-red;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

// Don't understand the positioning of the correct/incorrect icons
#form.invalid .input-box:before {
    content: '';
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    width: 2rem;
    height: 2rem;
    background: url('images/icon-error.svg');
    background-size: cover;
    z-index: 4;
}

#form.valid .input-box:before {
    content: '';
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    width: 2rem;
    height: 2rem;
    background: url('images/valid.png');
    background-size: cover;
    z-index: 4;
}

#form.invalid #text {
    display: block;
    font-weight: 500;
    background-color: $primary-soft-red;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
}

#form.valid #text {
    display: block;
    font-weight: 500;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
}