// Signup Form Section
.signup-form-container {
    background-color: $primary-soft-blue;
    padding: 4.3rem 3.2rem;
    position: relative;
    .signup-form-hero {
        margin: 3rem auto;
        .form-heading-smaller {
            font-size: 12px;
            text-transform: uppercase;
            color: white;
            line-height: 4rem;
            font-weight: 450;
            opacity: 1;
            letter-spacing: 0.462rem;
        }
        .signup-form-heading {
            color: white;
            font-weight: 450;
            line-height: 2.8rem;
            letter-spacing: -0.08px;
            padding: 0;
        }
    }
    .form {
        height: 13.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 31.1rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
        .form-input-email {
            height: 4.8rem;
            width: 31.1rem;
            border-radius: 0.5rem;
            border: none;
            background-color: white;
            color: #242A45;
        }
        ::placeholder {
            padding: 2.1rem;
            opacity: 0.5;
            line-height: 2.8rem;
            letter-spacing: 0.25px;
            font-size: 14px;
        }
        .contact-us-button {
            height: 4.8rem;
            width: 31.1rem;
            border-radius: 0.5rem;
            border: none;
            background-color: $primary-soft-red;
            color: white;
            cursor: pointer;
        }
    }
}
