/* GLOBAL STYLING & VARIABLES */
/* Neutral */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:root {
  /* TYPOGRAPHY */
  /* Font Size - Mobile */
  --heading: 3rem;
  --heading-secondary: 2.4rem;
  --heading-tertiary: 2rem;
  --paragraph-regular: 1.5rem;
  --button-text: 1.4rem;
  --list-text: 1.6rem;
  --main-2: 1.5rem;
  --text-2: 1.2rem;
  /* Font Size - Desktop (use later) */
  --menu-text: 1.3rem;
  --heading-primary-desktop: 4.8rem;
  --heading-secondary-desktop: 3.2rem;
  --main-paragraph: 1.8rem;
}

h1 {
  font-size: var(--heading);
  color: #252b46;
  text-align: center;
  padding: 1rem;
}

h2 {
  font-size: var(--heading-secondary);
  color: #252b46;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: var(--heading-tertiary);
  text-align: center;
  color: #252b46;
  padding: 1rem;
}

p {
  font-size: var(--paragraph-regular);
  color: #252b46;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 400;
  opacity: 0.5;
  padding: 0.5rem;
}

button {
  font-size: var(--button-text);
  color: white;
  text-align: center;
  background: #5368df;
  line-height: 2.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  -webkit-box-shadow: #7487dc 0px 10px 10px -12px;
          box-shadow: #7487dc 0px 10px 10px -12px;
  cursor: pointer;
}

.main-container {
  padding: 4.3rem 3.2rem;
}

/* HEADER */
/* Nav Styling */
.hamburger {
  background-color: transparent;
  border: 0;
  color: #252b46;
  font-size: var(--main-2);
  cursor: pointer;
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bar {
  display: block;
  width: 1.8rem;
  height: 0.3rem;
  margin: 0.3rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* Don't understand why it's background-color and not just color. */
  background-color: #252b46;
}

.hr-nav {
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.social-media-icon-container-header {
  display: none;
}

.social-media-icon-container-header.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.8rem;
  margin-top: 42rem;
  cursor: pointer;
  fill: #fa5757;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .logo {
    z-index: 2;
    height: 2.5rem;
    width: 14.774rem;
  }
  nav .nav-ul-styling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #252b46;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    display: none;
    padding: 3.3rem;
  }
  nav .nav-ul-styling.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-ul {
    z-index: 2;
    position: fixed;
    top: 12rem;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #252b46;
    opacity: 0.9;
    width: 30.9rem;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    list-style-type: none;
  }
  nav .nav-ul .nav-link {
    margin: 1.1rem 0;
    font-size: var(--heading-tertiary);
  }
  nav .nav-ul li a {
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.231rem;
  }
  nav .nav-ul #nav-link-login {
    margin-top: 2rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    width: 30.8rem;
    font-weight: 500;
  }
  nav .hamburger {
    display: inline-block;
    z-index: 2;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
    background: white;
  }
  nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    background: white;
  }
}

@media (min-width: 767px) {
  .main-container {
    padding: 4.8rem 16.5rem;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    list-style-type: none;
    width: 50rem;
    text-decoration: none;
  }
  nav .nav-ul .nav-link {
    font-size: var(--menu-text);
  }
  nav .nav-ul .hr-nav {
    display: none;
  }
  nav .nav-ul li a {
    display: inline-block;
    color: #252b46;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    list-style-type: none;
  }
  nav .nav-ul li a:hover {
    color: #fa5757;
  }
  nav .nav-ul #nav-link-login {
    width: 11.1rem;
    height: 4rem;
    font-size: var(--menu-text);
    color: white;
    text-align: center;
    background: #fa5757;
    line-height: 1.7rem;
    border: solid 2px transparent;
    border-radius: 0.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-box-shadow: #7487dc 0px 10px 10px -12px;
            box-shadow: #7487dc 0px 10px 10px -12px;
  }
  nav .nav-ul #nav-link-login:hover {
    color: #fa5757;
    background: white;
    border: 2px solid #fa5757;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
  }
}

/* Hero Section */
.hero {
  display: relative;
}

.hero .hero-illustration-1 {
  background-image: url("images/illustration-hero.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* I don't understand how to increase the width of the img without interfering 
        with the layout (margin, padding) of the html doc. */
  height: 25rem;
  margin: 5rem -2.5rem 4.8rem -2.5rem;
  z-index: 0;
}

.hero .hero-illustration-2 {
  position: relative;
  background: #5368df;
  height: 20.3rem;
  width: 77.7rem;
  margin: -24rem 0 5rem 0;
  left: 13%;
  z-index: -1;
  border-radius: 316.5px;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 14rem 0;
}

.hero-buttons .hero-button-chrome {
  margin-right: 0.7rem;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  -webkit-box-shadow: #7487dc 0px 10px 10px -12px;
          box-shadow: #7487dc 0px 10px 10px -12px;
  width: 15.1rem;
}

.hero-buttons .hero-button-chrome:hover {
  color: #5368df;
  background: white;
  border: 2px solid #5368df;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.hero-buttons .hero-button-firefox {
  margin-left: 0.7rem;
  border-radius: 0.5rem;
  width: 15.1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #252b46;
  opacity: 0.8;
  background-color: #F7F7F7;
  -webkit-box-shadow: #7487dc 0px 10px 10px -12px;
          box-shadow: #7487dc 0px 10px 10px -12px;
}

.hero-buttons .hero-button-firefox:hover {
  background: white;
  border: 2px solid #252b46;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

@media (min-width: 767px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
  }
  .hero .hero-text {
    padding: 0;
    margin: 0;
    margin-top: 9rem;
    width: 54rem;
    height: 29.2rem;
  }
  .hero .hero-text .hero-heading {
    font-size: var(--heading-primary-desktop);
    text-align: left;
    padding: 0;
    margin-bottom: 3rem;
  }
  .hero .hero-text .hero-paragraph {
    font-size: var(--main-paragraph);
    text-align: left;
    padding: 0;
  }
  .hero .hero-text .hero-buttons {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .hero-illustration-main {
    margin-right: -68rem;
    margin-top: 7rem;
  }
  .hero .hero-illustration-main .hero-illustration-1 {
    width: 65rem;
    height: 45rem;
    margin-bottom: -1rem;
  }
  .hero .hero-illustration-main .hero-illustration-2 {
    margin: 0;
    width: 120rem;
    height: 35.2rem;
    border-radius: 316.5px;
    margin-top: -32rem;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 3.5rem auto;
}

.feature-list .feature-link {
  display: inline-block;
  text-decoration: none;
  font-size: var(--list-text);
  color: #252b46;
  padding: 1.95rem 0;
  font-weight: 400;
  opacity: 0.7;
  cursor: pointer;
}

.feature-list .feature-link:hover {
  color: #fa5757;
}

.feature-list .hr-features {
  border-top: 1px solid rgba(73, 93, 207, 0.2);
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.feature-border {
  background-color: #fa5757;
  width: 14.3rem;
  height: 0.4rem;
}

[data-tab-underline-child] {
  display: none;
}

[data-tab-underline-child].active {
  display: block;
}

.features-bookmark {
  position: relative;
}

.features-bookmark .illustration-bookmark-1 {
  background-image: url("images/illustration-features-tab-1.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20.1rem;
  margin: 5rem -2.5rem 4.8rem -2.5rem;
}

.features-bookmark .illustration-bookmark-2 {
  position: relative;
  background: #5368df;
  height: 20.3rem;
  width: 55.7rem;
  margin: -21.4rem 0 3.5rem 0;
  right: 90%;
  z-index: -2;
  border-radius: 316.5px;
}

.features-searching {
  position: relative;
}

.features-searching .illustration-searching-1 {
  background-image: url("images/illustration-features-tab-2.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20.1rem;
  margin: 5rem -9rem 4.8rem -2.5rem;
}

.features-searching .illustration-searching-2 {
  position: relative;
  background: #5368df;
  height: 20.3rem;
  width: 55.7rem;
  margin: -21.4rem 0 3.5rem 0;
  right: 90%;
  z-index: -2;
  border-radius: 316.5px;
}

.features-sharing {
  position: relative;
}

.features-sharing .illustration-sharing-1 {
  background-image: url("images/illustration-features-tab-3.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20.1rem;
  margin: 5rem -2.5rem 4.8rem 2.5rem;
}

.features-sharing .illustration-sharing-2 {
  position: relative;
  background: #5368df;
  height: 20.3rem;
  width: 55.7rem;
  margin: -21.4rem 0 3.5rem 0;
  right: 90%;
  z-index: -2;
  border-radius: 316.5px;
}

.more-info-button {
  margin: 1rem auto;
  display: block;
  width: 11.4rem;
}

.more-info-button:hover {
  color: #5368df;
  background: white;
  border: 2px solid #5368df;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

[data-tab-content] {
  display: none;
}

[data-tab-content].active {
  display: block;
}

.feature-border-desktop {
  display: none;
}

.hr-features-desktop {
  display: none;
}

@media (min-width: 767px) {
  .h2-heading {
    font-size: var(--heading-secondary-desktop);
  }
  .paragraph {
    font-size: var(--main-paragraph);
    width: 54rem;
    margin: 1rem auto;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 73rem;
    margin: 0 auto;
    padding: 0;
  }
  .features .feature-list {
    margin: 1rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features .feature-list .hr-features {
    display: none;
  }
  .features .feature-list .feature-link {
    width: 24.3rem;
    text-align: center;
  }
  .features .feature-list .feature-border {
    background-color: #fa5757;
    width: 14.3rem;
    height: 0.4rem;
    display: none;
  }
  .hr-features-desktop {
    display: block;
    border-top: 1px solid rgba(73, 93, 207, 0.2);
    width: 73rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0 auto;
  }
  .features-container .features-bookmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .features-container .features-bookmark .illustration-container-bookmark {
    margin-right: 5rem;
    margin-top: 10rem;
  }
  .features-container .features-bookmark .illustration-container-bookmark .illustration-bookmark-1 {
    margin: 0;
    width: 53.6rem;
    height: 34.6rem;
  }
  .features-container .features-bookmark .illustration-container-bookmark .illustration-bookmark-2 {
    height: 35.2rem;
    width: 80rem;
    margin-top: -26rem;
    right: 58%;
    position: absolute;
  }
  .features-container .features-bookmark .features-bookmark-hero {
    margin-left: 5rem;
  }
  .features-container .features-bookmark .features-bookmark-hero .heading-bookmark {
    text-align: left;
  }
  .features-container .features-bookmark .features-bookmark-hero .paragraph-bookmark {
    text-align: left;
    width: 44.5rem;
  }
  .features-container .features-bookmark .features-bookmark-hero .more-info-button {
    position: absolute;
  }
  .features-container .features-searching {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .features-container .features-searching .illustration-container-searching {
    margin-right: 5rem;
    margin-top: 10rem;
  }
  .features-container .features-searching .illustration-container-searching .illustration-searching-1 {
    margin: 0;
    width: 53.6rem;
    height: 34.6rem;
  }
  .features-container .features-searching .illustration-container-searching .illustration-searching-2 {
    height: 35.2rem;
    width: 80rem;
    margin-top: -26rem;
    right: 58%;
    position: absolute;
  }
  .features-container .features-searching .features-searching-hero {
    margin-left: 5rem;
  }
  .features-container .features-searching .features-searching-hero .heading-searching {
    text-align: left;
  }
  .features-container .features-searching .features-searching-hero .paragraph-searching {
    text-align: left;
    width: 44.5rem;
  }
  .features-container .features-searching .features-searching-hero .more-info-button {
    position: absolute;
  }
  .features-container .features-sharing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .features-container .features-sharing .illustration-container-sharing {
    margin-right: 5rem;
    margin-top: 10rem;
  }
  .features-container .features-sharing .illustration-container-sharing .illustration-sharing-1 {
    margin: 0;
    width: 53.6rem;
    height: 34.6rem;
  }
  .features-container .features-sharing .illustration-container-sharing .illustration-sharing-2 {
    height: 35.2rem;
    width: 80rem;
    margin-top: -26rem;
    right: 58%;
    position: absolute;
  }
  .features-container .features-sharing .features-sharing-hero {
    margin-left: 5rem;
  }
  .features-container .features-sharing .features-sharing-hero .heading-sharing {
    text-align: left;
  }
  .features-container .features-sharing .features-sharing-hero .paragraph-sharing {
    text-align: left;
    width: 44.5rem;
  }
  .features-container .features-sharing .features-sharing-hero .more-info-button {
    position: absolute;
  }
  [data-tab-content] {
    display: none;
  }
  [data-tab-content].active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.download-extension-container {
  margin: 9rem auto;
}

.download-extension-container .download-extension-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-extension-container .download-extension-subcontainer .download-subcontainer-child {
  margin: 2rem auto;
  padding: 2.4rem;
  -webkit-box-shadow: #7487dc 10px 10px 10px -12px;
          box-shadow: #7487dc 10px 10px 10px -12px;
}

.download-extension-container .download-extension-subcontainer .download-subcontainer-child .download-button {
  width: 23.2rem;
}

.download-extension-container .download-extension-subcontainer .download-subcontainer-child .download-button:hover {
  color: #5368df;
  background: white;
  border: 2px solid #5368df;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.download-extension-container .download-extension-subcontainer .download-subcontainer-child .download-hero {
  padding-bottom: 3rem;
}

.download-extension-container .download-extension-subcontainer .download-subcontainer-child .download-hero .browser-heading {
  margin-bottom: -0.5rem;
}

.logo-chrome {
  background-image: url("images/logo-chrome.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  margin: 2rem 0rem 2.8rem 0rem;
}

.logo-firefox {
  background-image: url("images/logo-firefox.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  margin: 2rem 0rem 2.8rem 0rem;
}

.logo-opera {
  background-image: url("images/logo-opera.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  margin: 2rem 0rem 2.8rem 0rem;
}

.bg-dots {
  background-image: url("images/bg-dots.svg");
  position: relative;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 3px;
  margin-bottom: 2.4rem;
}

.faq-container-main {
  margin-bottom: 12rem;
}

.faq-container-main .faq-hero {
  margin-bottom: 6rem;
}

.faq-container-main .faq-container {
  margin: 5rem auto;
}

.faq-container-main .faq-container .faq-container-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.faq-container-main .faq-container .faq-container-child .paragraph-faq {
  font-size: var(--main-2);
  font-weight: 400;
  color: #242A45;
}

.faq-container-main .faq-container .faq-container-child .paragraph-faq:hover {
  color: #fa5757;
}

.faq-container-main .faq-container .faq-container-child .button-faq {
  border: solid #5368df;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  background: none;
  cursor: pointer;
}

.faq-container-main .faq-container .faq-container-child .button-faq.active {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.faq-container-main .faq-container .faq-container-child .paragraph-faq {
  opacity: 1;
}

.faq-container-main .faq-container .hr-faq {
  border-top: 1px solid rgba(73, 93, 207, 0.2);
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

[data-faq-content] {
  display: none;
}

.active[data-faq-content] {
  display: block;
}

.signup-form-container {
  background-color: #5368df;
  padding: 4.3rem 3.2rem;
  position: relative;
}

.signup-form-container .signup-form-hero {
  margin: 3rem auto;
}

.signup-form-container .signup-form-hero .form-heading-smaller {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  line-height: 4rem;
  font-weight: 450;
  opacity: 1;
  letter-spacing: 0.462rem;
}

.signup-form-container .signup-form-hero .signup-form-heading {
  color: white;
  font-weight: 450;
  line-height: 2.8rem;
  letter-spacing: -0.08px;
  padding: 0;
}

.signup-form-container form {
  height: 13.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31.1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.signup-form-container form .form-input-email {
  height: 4.8rem;
  width: 31.1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: white;
  color: #242A45;
  outline: none;
  padding: 2.1rem;
}

.signup-form-container form ::-webkit-input-placeholder {
  opacity: 0.3;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  font-size: 14px;
}

.signup-form-container form :-ms-input-placeholder {
  opacity: 0.3;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  font-size: 14px;
}

.signup-form-container form ::-ms-input-placeholder {
  opacity: 0.3;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  font-size: 14px;
}

.signup-form-container form ::placeholder {
  opacity: 0.3;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  font-size: 14px;
}

.signup-form-container form .contact-us-button {
  height: 4.8rem;
  width: 31.1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fa5757;
  color: white;
  cursor: pointer;
}

.signup-form-container form .contact-us-button:hover {
  color: #fa5757;
  background: white;
  border: 2px solid #fa5757;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.signup-form-container form input[type="text"] {
  font-size: var(--button-text);
  letter-spacing: 0.25px;
}

#form .input-box {
  position: relative;
}

#form.invalid .form-input-email {
  border: 2px solid #fa5757;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#form.invalid .input-box:before {
  content: '';
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 2rem;
  height: 2rem;
  background: url("images/icon-error.svg");
  background-size: cover;
  z-index: 4;
}

#form.valid .input-box:before {
  content: '';
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 2rem;
  height: 2rem;
  background: url("images/valid.png");
  background-size: cover;
  z-index: 4;
}

#form.invalid #text {
  display: block;
  font-weight: 500;
  background-color: #fa5757;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.3rem;
  margin-bottom: 1.6rem;
}

#form.valid #text {
  display: block;
  font-weight: 500;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.3rem;
  margin-bottom: 1.6rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252b46;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

footer .logo-footer {
  width: 14.774rem;
  margin-bottom: 4rem;
}

footer .nav-ul-footer {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.5rem;
}

footer .nav-ul-footer .nav-link-footer {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: var(--paragraph-regular);
  letter-spacing: 1.73px;
  margin-top: 10rem;
}

footer .nav-ul-footer .nav-link-footer:hover {
  color: #fa5757;
}

footer .social-media-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.8rem;
  margin-top: 4.8rem;
}

footer .social-media-icon-container .social-media-icon-footer {
  cursor: pointer;
}

svg:hover path {
  fill: #fa5757;
}
/*# sourceMappingURL=main.css.map */