/* GLOBAL STYLING & VARIABLES */
/* Resetting margins & padding because different browsers use different margins & paddings */
/* box-sizing: border-box is the most most intuitive way to create new elements. 
Reason: the borders & padding is calculated into the total width of the element - makes it easier to track element shapes. */

// Colors
// Primary
$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);


/* Neutral */
$neutral-grayish-blue: hsl(229, 8%, 60%);
$neutral-very-dark-blue: hsl(229, 31%, 21%);


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* Why is font-size 62.5%? Answer: Rems then become 16px * 62.5% = 10px
  That makes it easier to work with rems (1rem = 10px).*/
  html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
  }
  
  :root {
    /* TYPOGRAPHY */
    /* Font Size - Mobile */
    --heading: 3rem;
    --heading-secondary: 2.4rem;
    --heading-tertiary: 2rem;
    --paragraph-regular: 1.5rem;
    --button-text: 1.4rem;
    --list-text: 1.6rem;
    --main-2: 1.5rem;
    --text-2: 1.2rem;
    /* Font Size - Desktop (use later) */
    /* --heading: 4.8rem;
      --heading-secondary: 3.2rem;
      --heading-tertiary: 2rem;
      --main-paragraph: 1.8rem;
      --button-text: 1.4rem;
      --list-text: 1.6rem;
      --menu-text: 1.3rem;
      --faq-list: 1.8rem; */
  }

// Headings & Paragraphs
h1 {
    font-size: var(--heading);
    color: $neutral-very-dark-blue;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: var(--heading-secondary);
    color: $neutral-very-dark-blue;
    text-align: center;
    padding: 1rem;
}

h3 {
    font-size: var(--heading-tertiary);
    text-align: center;
    color: $neutral-very-dark-blue;
    padding: 1rem;
}

p {
    font-size: var(--paragraph-regular);
    color: $neutral-very-dark-blue;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 400;
    opacity: 0.5;
    padding: 0.5rem;
    // Why doesn't the below work?
    // .paragraph-faq {
    //     opacity: 1;
    //     font-size: 20px;
    // }
}

.paragraph-faq {
    opacity: 1;
}

button {
    font-size: var(--button-text);
    color: white;
    text-align: center;
    background: $primary-soft-blue;
    line-height: 2.5rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    box-shadow: hsl(229, 60%, 66%) 0px 10px 10px -12px;
    cursor: pointer;
    // Why doesn't the below work?
    // .button {
    //     border-radius: 0.5rem;
    //     font-family: 'Rubik', sans-serif;
    //     font-weight: 500;
    //     box-shadow: hsl(229, 60%, 66%) 0px 10px 10px -12px;
    // }
}

.main-container {
    padding: 4.3rem 3.2rem;
}

  /* HEADER */
  /* Nav Styling */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .nav-ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
        list-style-type: none;
        li a {
            display: inline-block;
            color: black;
            padding: 1rem 2rem;
            text-decoration: none; 
        }
      }
  }
  
  .nav-link {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    &:hover {
        color: $primary-soft-red;
    }
  }
  
  .hamburger {
    background-color: transparent;
    border: 0;
    color: $neutral-very-dark-blue;
    font-size: var(--main-2);
    cursor: pointer;
    display: none;
    box-shadow: none;
  }
  
  .bar {
    display: block;
    width: 1.8rem;
    height: 0.3rem;
    margin: 0.3rem auto;
    /* 0.5rem -> top and bottom | auto -> left & right */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* Don't understand why it's background-color and not just color. */
    background-color: black;
  }
  
  /* Hero Section */
  .hero {
      display: relative;
  }

  .hero-illustration-1 {
    position: relative;
    background-image: url('images/illustration-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* I don't understand how to increase the width of the img without interfering 
    with the layout (margin, padding) of the html doc. */
    height: 25rem;
    margin: 5rem -2.5rem 4.8rem -2.5rem;
    z-index: 0;
}

.hero-illustration-2 {
    position: relative;
    background: $primary-soft-blue;
    height: 20.3rem;
    width: 77.7rem;
    margin: -24rem 0 5rem 0;
    left: 13%;
    z-index: -1;
    border-radius: 316.5px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    // top right bottom left
    margin: 2rem 0 14rem 0;
    .hero-button-chrome {
        margin-right: 0.7rem;
        border-radius: 0.5rem;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        box-shadow: hsl(229, 60%, 66%) 0px 10px 10px -12px;
        width: 15.1rem;
    }
    .hero-button-firefox {
        margin-left: 0.7rem;
        border-radius: 0.5rem;
        width: 15.1rem;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: $neutral-very-dark-blue;
        opacity: 0.8;
        background-color: #F7F7F7;
        box-shadow: hsl(229, 60%, 66%) 0px 10px 10px -12px;
    }
}


// Features Section
.feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 3.5rem auto;
    .feature-link {
        display: inline-block;
        text-decoration: none;
        font-size: var(--list-text);
        color: $neutral-very-dark-blue;
        padding: 1.95rem 0;
        font-weight: 400;
        opacity: 0.7;
        // border-bottom: 1px solid rgba(73, 93, 207, 0.2);
    }
    .hr-features {
        border-top: 1px solid rgba(73, 93, 207, 0.2);
        width: 100%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

.features-bookmark {
    position: relative;
}

.illustration-bookmark-1 {
    position: relative;
    background-image: url('images/illustration-features-tab-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* I don't understand how to increase the width of the img without interfering 
    with the layout (margin, padding) of the html doc. */
    height: 20.1rem;
    margin: 5rem -2.5rem 4.8rem -2.5rem;
}

.illustration-bookmark-2 {
    position: relative;
    background: $primary-soft-blue;
    height: 20.3rem;
    width: 55.7rem;
    margin: -21.4rem 0 3.5rem 0;
    right: 90%;
    z-index: -2;
    border-radius: 316.5px;
}

.more-info-button {
    margin: 1rem auto;
    display: block;
    width: 11.4rem;
}


// Download Extension Section
.download-extension-container {
    margin: 9rem auto;
}

.download-extension-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-subcontainer-child {
    margin: 2rem auto;
    padding: 2.4rem;
    box-shadow: hsl(229, 60%, 66%) 10px 10px 10px -12px;
}

.download-button {
    width: 23.2rem;
}

.chrome-hero {
    padding-bottom: 3rem;
}

.browser-heading {
    margin-bottom: -0.5rem;
}

.logo-chrome {
    position: relative;
    background-image: url('images/logo-chrome.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* I don't understand how to increase the width of the img without interfering 
    with the layout (margin, padding) of the html doc. */
    height: 10rem;
    margin: 2rem 0rem 2.8rem 0rem;
}

.firefox-hero {
    padding-bottom: 3rem;
}

.logo-firefox {
    position: relative;
    background-image: url('images/logo-firefox.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* I don't understand how to increase the width of the img without interfering 
    with the layout (margin, padding) of the html doc. */
    height: 10rem;
    margin: 2rem 0rem 2.8rem 0rem;
}

.opera-hero {
    padding-bottom: 3rem;
}

.logo-opera {
    position: relative;
    background-image: url('images/logo-opera.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* I don't understand how to increase the width of the img without interfering 
    with the layout (margin, padding) of the html doc. */
    height: 10rem;
    margin: 2rem 0rem 2.8rem 0rem;
}

.hr-download {
    border-top: 3px dotted rgba(73, 93, 207, 0.2);
    width: 100%;
    padding-top: 2.4rem;
    border-left: none;
    border-right: none;
}


// FAQs
.faq-container-main {
    margin-bottom: 12rem;
}

.faq-hero {
    margin-bottom: 6rem;
}

.faq-container {
    margin: 5rem auto;
}

.faq-container-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paragraph-faq {
    font-size: var(--main-2);
    font-weight: 400;
    color: #242A45;
}

.button-faq {
    border: solid $primary-soft-blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4.5px;
    transform: rotate(45deg);
    background: none;
    cursor: pointer;
}

.hr-faq {
    border-top: 1px solid rgba(73, 93, 207, 0.2);
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

// Signup Form Section
.signup-form-container {
    background-color: $primary-soft-blue;
}



  /* MEDIA QUERIES */
    /* .nav-ul.show {
          display: flex;
      } */
    /* 1. Make the overlay as big as the whole screen 2. Style the menu 3. Change the logo colors */

    .nav-ul {
      position: fixed;
      left: -100%;
      top: 7rem;
      gap: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: $neutral-very-dark-blue;
      opacity: 0.9;
      width: 100%;
      text-align: center;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      z-index: 1;
      &.active {
        left: 0
      }
      .nav-link {
        margin: 1.6rem 0;
      }
    }

    .hamburger {
        display: block;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-6px) rotate(-45deg);
                transform: translateY(-6px) rotate(-45deg);
      }

  /*# sourceMappingURL=main.css.map */